@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    box-sizing: border-box;
  }
  :root{
    @apply  text-sm;
    --nav-header-height:60px;
    --home-tag-width:180px;
    --home-recommend-width:720px;
    --home-up-to-data-width:720px;
    --home-aside-width:260px;
    --home-recommend-header-height:4rem;
    --home-recommend-padding-x:20px;
    --layer-gap:1.5rem;
    --aside-top:2rem;
    --catelogue-max-height:330px;
    --content-min-width:500px;
    --login-box-width:350px;
    --login-box-padding:1.5rem;
  }
  body{
    @apply bg-juejin-bg;
  }
  textarea{
    @apply outline-none border border-transparent;
  }
  [contenteditable]{
    @apply outline-none;
  }
  input{
    @apply  rounded focus:border-juejin-brand-2-hover border border-juejin-layer-1 outline-none;
  }
}

@layer components{
  .btn{
    @apply pl-4 pr-4 py-2 h-full  rounded-sm relative after:absolute after:right-0  after:w-2 after:border-l after:border-juejin-gray-1-1 whitespace-nowrap;
  }
  .btn-primary{
    @apply btn text-juejin-gray-0 bg-juejin-brand-1-normal hover:bg-juejin-brand-2-hover;
  }
  .btn-secondary{
    @apply btn text-juejin-brand-1-normal border border-juejin-brand-4-disable rounded-md bg-juejin-brand-5-light;
  }
  .btn-text{
    @apply  hover:text-juejin-brand-2-hover active:scale-95 duration-300 transition-all;
  }
  
  /* 布局块 */
  .layer{
    @apply bg-juejin-layer-1 rounded-sm;
  }
  /* 文字省略 */
  .ellipsis{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }
  /* tooltip箭头 */
  .arrows{
    @apply after:w-4 after:h-4 after:bg-juejin-layer-1 after:border after:border-t-juejin-gray-1-1 after:border-transparent after:border-l-juejin-gray-1-1 after:border-t after:absolute after:z-20 after:right-4 after:-top-2 after:rotate-45;
  }
  .arrows-center{
    @apply arrows after:left-1/2;
  }
  /* 骨架屏 */
  .skeleton{
      background-image: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 10%,
      #f6f7f8 20%,
      #f6f7f8 100%
    );
    background-size: 200% 100%;
    @apply animate-skeleton 
  }
  /* 滚动条 */
  .scroll-container::-webkit-scrollbar{
    @apply w-[5px];
  }
  .scroll-container::-webkit-scrollbar-track{
    @apply rounded-md;
  }
  .scroll-container::-webkit-scrollbar-thumb{
    @apply rounded-md bg-juejin-gray-1-1;
  }
  .scroll-container::-webkit-scrollbar-thumb:window-inactive{
    @apply bg-juejin-gray-1-1;
  }
}

/* 用于复写tailwind内置样式 */
@layer utilities{
  
}

.ql-toolbar.ql-snow{
  border:none !important;
}

.ql-editor{
  border-bottom:0px !important;
}

.ql-container.ql-snow{
  border-color: transparent !important;
}