@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    box-sizing: border-box;
  }
  :root{
    @apply  text-sm;
    --nav-header-height:60px;
    --home-tag-width:180px;
    --home-recommend-width:720px;
    --home-up-to-data-width:720px;
    --home-aside-width:260px;
    --home-recommend-header-height:4rem;
    --home-recommend-padding-x:20px;
    --layer-gap:1.5rem;
    --aside-top:2rem;
    --catelogue-max-width:380px;
    --content-min-width:500px;
    --login-box-width:350px;
    --login-box-padding:1.5rem;
  }
  body{
    @apply bg-juejin-bg;
  }
  input{
    @apply  rounded focus:border-juejin-brand-2-hover border border-juejin-layer-1 outline-none;
  }
}

@layer components{
  .btn{
    @apply pl-4 pr-4 h-10 rounded-sm relative after:absolute after:right-0  after:w-2 after:border-l after:border-juejin-gray-1-1 whitespace-nowrap;
  }
  /* 布局块 */
  .layer{
    @apply bg-juejin-layer-1 rounded-sm;
  }
  /* 文字省略 */
  .ellipsis{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }
  /* 骨架屏 */
  .skeleton{
      background-image: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 10%,
      #f6f7f8 20%,
      #f6f7f8 100%
    );
    background-size: 200% 100%;
    @apply animate-skeleton 
  }
}

/* 用于复写tailwind内置样式 */
@layer utilities{
  
}

.ql-toolbar.ql-snow{
  border:none !important;
}

.ql-editor{
  border-bottom:0px !important;
}

.ql-container.ql-snow{
  border-color: transparent !important;
}